{% extends "layout.html" %}

{% block content %}

<div class="container p-4">
    <div class="jumbotron">
        <h3 class="display-4">Recepción de señales para geolocalizacion basada en radios definidos por software.</h3>
        <p class="lead">Se diseño un sistema de transmisión y recepción de señales para su geolocalización utilizando tres antenas conectadas cada una a un dispositivo SDR y funcionando bajo el lenguaje de programación Python.</p>
        <hr class="my-4">
        <p>Al localizar el origen de la señal se mostrará una ubicacion aproximada.</p>
        <a class="btn btn-dark btn-dark" href="#" role="button">Localizar</a>
      </div>

</div>
{% endblock %}